cerberus==1.3.4
genie==22.1
jmespath==0.10.0
napalm==3.3.1
ncclient==0.6.9
netmiko==3.4.0
nornir==3.2.0
nornir-napalm==0.1.2
nornir-netmiko==0.1.2
nornir-scrapli==2022.1.30a1
ntc-templates>=1.7.0
paramiko==2.9.2
pyats==22.1
pygnmi==0.6.8
pyyaml==6.0
requests==2.27.1
rich==11.2.0
scrapli==2021.7.30
scrapli-community==2021.7.30
scrapli-netconf==2022.1.30a1
tabulate==0.8.9
ttp==0.8.4
ttp-templates==0.1.3
xmltodict==0.12.0
